
	<div class="hero">
		<div class="hero-inner">
	    	<div class="hero-logo -profile">
	    		{{#if avatar.url}}
	   				<div class="img-container">
	   					<img {{bind-attr src=avatar.url}}>
	   				</div>
	   				
	    		{{/if}}
	    		<div class="input-avatar">
   					{{file-uploader file=avatar multiple=false}}
   					<button class="btn-input-camera">
   						{{fa-icon "camera"}}
   					</button>
   				</div>
	    		
			</div>
			{{partial "red/profile/form"}}
		</div>
	</div>

	

	<h4 style="text-align: center">Ultima actividad</h4>

	<div class="profile-entries">
		<div class="entry-list">
		{{#if entries}}
			{{#each entry in entries}}
				{{partial 'red/entries/brief'}}
			{{/each}}
			{{infinity-loader infinityModel=model}}
		{{else}}
			<div class="loading">
				{{loading-bubbles color='#0083ff' size=100}}
			</div>
		{{/if}}
		</div>
	</div>



