<form {{action "save" on="submit"}} class="create-event">
  <fieldset>
    <label>
      Title
    </label>
      {{input type="text" value=model.title}}
  </fieldset>
  <fieldset>
    <label>
      Description
    </label>
      {{input type="text" value=model.description}}
  </fieldset>
  <fieldset>
    <label>
      Fecha
    </label>
    <div class="date-picker-container">
      {{date-picker date=model.date valueFormat='YYYY-MM-DD' utc=true }}
    </div>
  </fieldset>  

  <fieldset>
    <label>
      Provincia
    </label>
    {{#if model.province}}
      <p>{{model.province.name}} <a {{action 'deleteProvince'}}>X</a></p>
    {{else}}
       {{model-finder modelName='province' model-selected='selectedProvince'}}
    {{/if}}
  </fieldset>    
  <fieldset>
    <label>
      Municipio
    </label>
    {{#if model.town}}
      <p>{{model.town.name}} <a {{action 'deleteTown'}}>X</a></p>
    {{else}}
       {{model-finder modelName='town' model-selected='selectedTown'}}
    {{/if}}
  </fieldset>     
  <div>
    <input type="submit" value="Save">
  </div>
</form>
